body {
    margin: 3em;
    font-family: sans-serif;
    font-size: 16pt;
}

#content {
    border: 0px solid black;
    width: 50em;
}

img {
    max-width: 100%;
    max-height: 500px;
    border: 1px solid black;
    padding: 1px;
}

pre {
    border: 1px solid black;
    padding: 0.5em;
    background-color: #f0f0f0;
}

.note {
    background-color: #ffffc0;
    padding: 0.5em;
}
